body{
    background-image:url('http://s1.picswalls.com/wallpapers/2014/07/24/pattern-background_113041807_88.jpg')
    
}

.addContainer {
    height: 100%;
    width:70%;
    margin: auto;
    text-align: center;
    font-size: 48px;
    background-image: url('http://img04.deviantart.net/3184/i/2013/341/6/a/sea_green_gradient_by_sirmudkipz13-d6x25ap.png');
    color: yellow;
    line-height: 150px;
    text-decoration: none;
    border: 5px solid forestgreen;
    margin-bottom: 2.5%;
    margin-top: 10%;
    font-family: 'Indie Flower', cursive;
}
.inputStyle{
    color:yellow;
    height:15%;
    width:50%;
    font-size:30px;
    border:5px solid forestgreen;
    background-color:black;
}
.buttonStyle{
    float:right;
    height:50px;
    width:250px;
    font-size:20px;
    line-height:50px;
    color:forestgreen;
    border:2.5px solid forestgreen;
    background-color:black;
    position: absolute;
    bottom: 0;
    right:0;
    font-family: 'Indie Flower', cursive;
}
.buttonStyle3{
    float:right;
    height:50px;
    width:250px;
    font-size:20px;
    line-height:50px;
    color:forestgreen;
    border:2.5px solid forestgreen;
    background-color:black;
    position: absolute;
    bottom: 0;
    right:12em;
    font-family: 'Indie Flower', cursive;
}
.buttonStyle2{
    float:right;
    height:34px;
    width:250px;
    font-size:20px;
    line-height:31px;
    color:forestgreen;
    border:2.5px solid forestgreen;
    background-color:black;
    margin-top:3%;
}
.chirps{
    height: 100%;
    width: 70%;
    margin: auto;
    font-size: 24px;
    background-image: url('http://img04.deviantart.net/3184/i/2013/341/6/a/sea_green_gradient_by_sirmudkipz13-d6x25ap.png');
    background-size:cover;
    color: yellow;
    text-decoration: none;
    overflow:scroll;  
    margin-top:2em;
    border:3px solid black;
    font-family: 'Indie Flower', cursive;
}
.chirps2{
    height: 100%;
    width: 70%;
    margin: auto;
    font-size: 24px;
    background-image:url('https://www.xmple.com/wallpaper/yellow-gradient-red-linear-1920x1080-c2-feeb10-fe4010-a-240-f-14.svg');
    background-size:cover;
    color: yellow;
    text-decoration: none;
    border:5px solid red;
    overflow:scroll;  
    margin-top:10%;
}
.headerStyle{
    text-align: center;
    color:yellow;
    background-color:black;
    margin:auto;
    line-height: 5em;
    height:5em;
    font-size: 48px;
    background-image:url('https://t3.ftcdn.net/jpg/01/43/44/56/240_F_143445697_EOPC3Y2y0WuLQPkPW6uiej8J6iZ0CYBG.jpg');
    font-family: 'Indie Flower', cursive;
}

.imgStyle {
    display:block;
    height: 400px;
    width: 600px;
    margin-left: auto;
    margin-right:auto;
    border:5px solid red;
    margin-top:10%;
}
.homeButton{
    height: 200px;
    width: 70%;
    margin: auto;
    text-align: center;
    margin-top:10%;
    margin-bottom:1%;
    font-size: 36px;
   background-image:url('http://img04.deviantart.net/3184/i/2013/341/6/a/sea_green_gradient_by_sirmudkipz13-d6x25ap.png');
    background-size: cover;
    color: yellow;
    margin-left:16%;
    font-family: 'Indie Flower', cursive;
}
.homeIMG{
    width:24%;
    height:300px;
    margin:1px;
}
.imgContainer{
    position: absolute;
    margin-left:5%;
    margin-right:5%;
    bottom:0;
}
.circleIMG{
    border-radius:50%;
    height:100px;
    width:100px;
}
.trash{
    height:100px;
    width:100px;
    float:right;
}
