<h1 class="headerStyle">POST YOUR NAME AND CHIRP!!</h1>
    <div ng-controller="HttpPostController" class="container">
      <input class="inputStyle" type="text" placeholder="Name" ng-model="user">
      <br>
      <input class="inputStyle" type="text" placeholder="Chirp here!" ng-model="message">
      <br>
      <button ng-click="Poster()" class="buttonStyle" >Post your chirp-a-derp</button>
      <a href="#/list"><button  class="buttonStyle">Look at all chirps</button></a>
      
    </div>

<div class="imgContainer">
<img src="https://www.askideas.com/media/07/Funny-Bird-Couple.jpg" class="homeIMG">
<img src="https://www.askideas.com/media/07/Funny-Face-Of-A-Bird.jpg" class="homeIMG">
<img src="https://www.askideas.com/media/07/Funny-Bird-Wallpaper.jpg" class="homeIMG">    
</div>