

<div>
       
      <a href="#/add"> <button class="homeButton">Click here to start Chirp-a-Derping</button></a>
</div>
<div class="imgContainer">
<img src="https://s-media-cache-ak0.pinimg.com/originals/25/8c/d6/258cd6c5ad22d7e3116d82004f5cda6a.jpg" class="homeIMG">
<img src="https://s-media-cache-ak0.pinimg.com/736x/65/93/19/65931900e41d9099d65df7c693de9cdc--pretty-birds-beautiful-birds.jpg" class="homeIMG">
<img src="https://s-media-cache-ak0.pinimg.com/236x/c9/92/fa/c992fa0e443171ed68db007458d28903--pets-love-birds.jpg" class="homeIMG">
<img src="https://i.ytimg.com/vi/QJGtCpoBols/maxresdefault.jpg" class="homeIMG">
</div>














